<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="../public/css/main.css" />
  </head>
  <body class="event-details-page">
    <header>
      <h1 class="event-title">{{event.name}}</h1>
    </header>

    <main class="event-details">
      <div class="event-poster-container">
        <img
          src="{{event.Poster}}"
          alt="{{event.name}} Poster"
          class="event-poster"
        />
      </div>
      <div class="event-info">
        <p><strong>Name:</strong> {{event.name}}</p>
        <p><strong>Description:</strong> {{event.description}}</p>
        <p><strong>Location:</strong> {{event.location}}</p>
        <p><strong>Organizer:</strong> {{event.organizer}}</p>
        <p><strong>Organizer Rating:</strong> {{event.rating}}/5</p>
        <p><strong>Date:</strong> {{event.date}}</p>
        <p><strong>Start Time:</strong>
          <span class="event-time">{{event.starttime}}</span></p>
        <p><strong>End Time:</strong>
          <span class="event-time">{{event.endtime}}</span></p>
        <p><strong>Class:</strong> {{event.class}}</p>
        <p><strong>Attendees:</strong> {{event.numberOfAttendees}}</p>
      </div>
    </main>

    <section class="action-buttons">
      {{#if creator}}
        <h1>ALL Feedback</h1>
        {{#each allFeedback}}
          <ol>
            <li>
              <p><strong>Rating:</strong> {{rating}}/5</p>
              <p><strong>Comment:</strong> {{comment}}</p>
            </li>
          </ol>
        {{/each}}
      {{else}}
        {{#if studentRegistered}}
          {{#unless past}}
            <button type="button" class="btn btn-disabled" disabled>
              You are Already Registered
            </button>
            <button
              type="button"
              class="btn btn-secondary"
              onclick="window.location.href='/unregister/{{event._id}}'"
            >
              Unregister
            </button>
          {{/unless}}
        {{else}}
          {{#if eligible}}
            {{#unless past}}
              <button
                type="button"
                class="btn btn-primary"
                onclick="window.location.href='/register/{{event._id}}'"
              >
                Register
              </button>
            {{/unless}}
            {{#if past}}
              {{#if givenFeedback}}
                <h1>Your Submitted Feedback</h1>
                <p><strong>Rating:</strong> {{feedback.rating}}/5</p>
                <p><strong>Comment:</strong> {{feedback.comment}}</p>
              {{else}}
                <h1>Feedback Page</h1>
                <form action="/eventend" method="POST">
                  <input type="hidden" name="eventId" value="{{event._id}}" />
                  <label for="rating">Rating:</label>
                  <select id="rating" name="rating" required>
                    <option value="0.5">0.5</option>
                    <option value="1.0">1.0</option>
                    <option value="1.5">1.5</option>
                    <option value="2.0">2.0</option>
                    <option value="2.5">2.5</option>
                    <option value="3.0">3.0</option>
                    <option value="3.5">3.5</option>
                    <option value="4.0">4.0</option>
                    <option value="4.5">4.5</option>
                    <option value="5.0">5.0</option>
                  </select>
                  <br /><br />
                  <label for="comment">Comment:</label>
                  <input type="text" id="comment" name="comment" required />
                  <br /><br />
                  <button type="submit">Submit Feedback</button>
                </form>
              {{/if}}
            {{else}}
              <button type="button" class="btn btn-disabled" disabled>
                You can't Register
              </button>
            {{/if}}
          {{/if}}
        {{/if}}
      {{/if}}
    </section>

    <footer class="footer-navigation">
      <form action="/login" method="POST">
        <button type="submit" class="footer-btn">Back to Homepage</button>
      </form>
      <form action="/myaccount" method="POST">
        <button type="submit" class="footer-btn">My Account</button>
      </form>
    </footer>
  </body>
</html>