<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="../public/css/main.css" />
  </head>
  <body>

    <h1>{{event.name}}</h1>

    <div class="event-details">
      <img
        src="{{event.poster}}"
        alt="{{event.name}} Poster"
        class="event-poster"
      />
      <div class="event-info">
        <p>Description: {{event.description}}</p>
        <p>Location: {{event.location}}</p>
        <p>Organizer: {{event.organizer}}</p>
        <p>Rating: {{event.rating}}</p>
        <p>Start Time: {{event.startTime}}</p>
        <p>End Time: {{event.endTime}}</p>
        <p>Class: {{event.class}}</p>
        <p>Attendees: {{event.numberOfAttendees}}</p>
      </div>
    </div>

    {{#if studentRegistered}}
      <button type="button" disabled>You are Already Registered</button>
      <button
        type="button"
        onclick="window.location.href='/unregister/{{event._id}}'"
      >Unregister</button>
    {{else}}
      {{#if eligible}}
        <button
          type="button"
          onclick="window.location.href='/register/{{event._id}}'"
        >Register</button>
      {{else}}
        <button type="button" disabled>You can't Register</button>
      {{/if}}
    {{/if}}

    <form class="ib_form" action="/login" method="POST">
      <button type="submit">Back to Homepage</button>
    </form>

    <form class="ib_form" action="/myaccount" method="POST">
      <button type="submit">My Account</button>
    </form>

  </body>
</html>