<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="../public/css/main.css" />
  </head>
  <body class="event-details-page">
    <header>
      <h1 class="event-title">{{event.name}}</h1>
    </header>

    <main class="event-details">
      <div class="event-poster-container"><!--"{{event.poster}}"-->
        <img
          src="../public/imgs/EventPage.jpg"
          alt="{{event.name}} Poster"
          class="event-poster"
        />
      </div>
      <div class="event-info">
        <p><strong>Name:</strong> {{event.name}}</p>
        <p><strong>Description:</strong> {{event.description}}</p>
        <p><strong>Location:</strong> {{event.location}}</p>
        <p><strong>Organizer:</strong> {{event.organizer}}</p>
        <p><strong>Rating:</strong> {{event.rating}}</p>
        <p><strong>Date:</strong> {{event.date}}</p>
        <p><strong>Start Time:</strong>
          <span class="event-time">{{event.starttime}}</span></p>
        <p><strong>End Time:</strong>
          <span class="event-time">{{event.endtime}}</span></p>
        <p><strong>Class:</strong> {{event.Class}}</p>
        <p><strong>Attendees:</strong> {{event.numberOfAttendees}}</p>
      </div>
    </main>

    <section class="action-buttons">
      {{#if studentRegistered}}
        <button type="button" class="btn btn-disabled" disabled>
          You are Already Registered
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          onclick="window.location.href='/unregister/{{event._id}}'"
        >
          Unregister
        </button>
      {{else}}
        {{#if eligible}}
          <button
            type="button"
            class="btn btn-primary"
            onclick="window.location.href='/register/{{event._id}}'"
          >
            Register
          </button>
        {{else}}
          <button type="button" class="btn btn-disabled" disabled>
            You can't Register
          </button>
        {{/if}}
      {{/if}}
    </section>

    <footer class="footer-navigation">
      <form action="/login" method="POST">
        <button type="submit" class="footer-btn">Back to Homepage</button>
      </form>
      <form action="/myaccount" method="POST">
        <button type="submit" class="footer-btn">My Account</button>
      </form>
    </footer>
  </body>

</html>