<!-- 
Page the user sees after they log in. 
 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Stevens Event Planner - Home</title>
    <link rel='stylesheet' href='../public/css/main.css' />
</head>
<body>
   <h1>Stevens Event Planner Homepage</h1>

    <form class = "ib_form" action = "/myaccount" method = "POST">
    <button type = "submit">My Account</button></form>

    <form class = "ib_form" action = "/myprofile" method = "POST">
    <button type = "submit">My Profile</button></form>

    <form class = "ib_form" action = "/searchevents" method = "POST">
    <button type = "submit">Search Events</button></form>

    {{#if user.verified}} <form class = "ib_form" action = "/createevent" method = "POST">
    <button type = "submit">Create An Event</button></form> {{/if}}
    {{#if user.verified}} <form class = "ib_form" action = "/createevent" method = "GET">
    <button type = "submit">View All Created Events</button></form> {{/if}} </br>
    <h2>All Upcoming Events</h2>
   <ol>
   <ol>
    {{#each events}}
        <li>     
          <a href="/events/{{this._id}}"><h2>{{this.name}}</h2></a>
          <p><strong>Date:</strong> {{this.date}}</p>
          <p><strong>Start Time:</strong> {{this.starttime}}</p>
          <p><strong>End Time:</strong> {{this.endtime}}</p>
          <p><strong>Location:</strong> {{this.location}}</p>
        </li>
    {{/each}}
   </ol>
</body>
</html>