<!-- 
Page the user sees after they log in. 
 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Stevens Event Planner - Home</title>
    <link rel='stylesheet' href='../public/css/main.css' />
</head>
<body>
   <h1>Stevens Event Planner Homepage</h1>

    <form class = "ib_form" action = "/myaccount" method = "POST">
    <button type = "submit">My Account</button></form>

    <form class = "ib_form" action = "/myprofile" method = "POST">
    <button type = "submit">My Profile</button></form>

    <form class = "ib_form" action = "/searchevents" method = "POST">
    <button type = "submit">Search Events</button></form>

    <form class = "ib_form" action = "/myRegisteredEvents" method = "GET">
    <button type = "submit">My registered events</button></form>

    <form class = "ib_form" action = "/pastEvents" method = "GET">
    <button type = "submit">Past events</button></form>

    {{#if user.verified}} <form class = "ib_form" action = "/createevent" method = "POST">
    <button type = "submit">Create An Event</button></form> {{/if}}
    {{#if user.verified}} <form class = "ib_form" action = "/createevent" method = "GET">
    <button type = "submit">View All Created Events</button></form> {{/if}} </br>
    <h2>All Upcoming Events</h2>
  {{#if events.length}}
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Time</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
      {{#each events}}
      <tr>
        <td><a href = "/events/{{this._id}}">{{this.name}}</a></td>
        <td>{{this.date}}</td>
        <td>{{this.starttime}}</td>
        <td>{{this.location}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{else}}
  <p>There are no upcoming events.</p>
  {{/if}}
</body>
</html>