<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Created Events</title>
  <link rel="stylesheet" href="../public/css/main.css">
</head>
<body>
  <nav> <form class = "ib_form" action="/login" method="POST">
  <button type="submit" class="footer-btn">Back to Homepage</button> </form>
  <form class = "ib_form" action="/myaccount" method="POST">
  <button type="submit" class="footer-btn">My Account</button></form>
  <form class = "ib_form" action="/logout" method="POST">
  <button type = "submit">Log Out</button></form></nav>
  <h1>My Created Events</h1>      
  {{#if events.length}}
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Time</th>
        <th>Location</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each events}}
      <tr>
        <td><a href = "/events/{{this._id}}">{{this.name}}</a></td>
        <td>{{this.date}}</td>
        <td>{{this.starttime}}</td>
        <td>{{this.location}}</td>
        <td>

          <!-- Link to Edit -->
          <form action="/edit/{{this._id}}" method="get" style="display:inline;">
          <input type="hidden" name="_method">
          <button type="submit">Edit</button>
          </form>

          <!-- Delete Form -->
          <form action="/deleteevent/{{this._id}}" method="get" style="display:inline;">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit">Delete</button>
          </form>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{else}}
  <p>You have not created any events yet.</p>
  {{/if}}


</body>
</html>
