<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Stevens Event Planner - My Profile</title>
    <link rel='stylesheet' href='../public/css/main.css' />
</head>
<body>
    <nav><form class = "ib_form" action = "/login" method = "POST">
    <button type = "submit">Back to Homepage</button></form>
    <form class = "ib_form" action = "/myaccount" method = "POST">
    <button type = "submit">My Account</button></form>
    <form class = "ib_form" action="/logout" method="POST">
    <button type = "submit">Log Out</button></form></nav>
    <h1>My Profile</h1>
    Name: <span>{{user.firstName}} {{user.lastName}}</span><br>
    Email: <span>{{user.email}}</span><br>
    Class: <span>{{class}}</span><br>
    Verified: <span>{{verified}}</span><br>

</body>
</html>
