<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Stevens Event Planner - Search Events</title>
    <link rel='stylesheet' href='../public/css/main.css' />
    
</head>
<body>
        <h1>Search Events</h1>
        <form id="eventSearchForm">
        <label for="keyword">Enter Keyword(s)</label>
        <input id="keyword" type="text">
        <button class = "buttoninput" type="submit">Search Events</button>
        </form>
        <p class = "errorcss" id = "noinput">Error: No search term inputted.</p>
        <table id = "searchResults">
            <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Time</th>
                <th>Location</th>
            </tr>
            </thead>
            <tbody id = "resultrows">
            {{#each events}}
            <tr data-name = "{{this.name}}" data-description = "{{this.description}}">
                <td><a href = "/events/{{this._id}}">{{this.name}}</a></td>
                <td>{{this.date}}</td>
                <td>{{this.starttime}}</td>
                <td>{{this.location}}</td>
            </tr>
            {{/each}}
            </tbody>
        </table>
        <a id="rootLink" href="/login">Back To Homepage</a>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
        <script src="../public/js/main.js"></script>
</body>
</html>